:root {
  --primary-brown: #69411e;
  --primary-brown-transparent: #69411ee0;
  --secondary-brown: #a08463;
  --background-blur: #94765d44;
  --dark-text: #171001be;
  --white: #ffffff;
  --white-opacity: rgba(255, 255, 255, 0.9);
}

.HeroSection {
  width: 90vw;
  height: 60vh;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
  justify-content: center;
  backdrop-filter: blur(2px);
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background-blur);
  padding: 10px;
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.innerContainer h1 {
  color:#110b05;;
  font-size: 36px;
  padding: 10px;
  border-radius: 10px;
}

.innerContainer h1 span {
  color: var(--dark-text);
}

.innerContainer p {
  text-align: center;
  font-size: 20px;
  color: var(--white);
  opacity: 0.9; /* أو استخدمي var(--white-opacity) */
  margin-top: -20px;
}

.Search {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  flex-wrap: wrap;
}

.searchbar {
  background-color: var(--primary-brown-transparent);
  border-radius: 10px;
  display: flex;
}

.searchbar input {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 10px;
  color: var(--white);
}

.Search button {
  background-color: var(--secondary-brown);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--dark-text);

}
.register{
  display: flex;
  gap: 10px;
}
.button{
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  background-color: var(--primary-brown);
color:#e1cab2; 
 border-radius: 10PX;
}

.button:hover{
  background-color: #311a06;

}
