.Cart{
    height: 100%;
    
    
}
.cart-container{
    gap: 110px;
    display: flex;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    height: auto;
}

.first-section{
margin-left:50px;
margin-top: 50px;
   width: auto;
   height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.second-section{
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(68, 42, 3);
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    height: 50vh;
    width: 20vw;
}
.second-section h3{
    text-align: center;

}
.order-info{
    display: flex;
    flex-direction: column;
    
}
.information{
    gap: 150px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(156, 119, 68, 0.399);
}

.Total.information{
    border-bottom: none

}

.second-section button{
background-color: rgb(91, 74, 39);
border: none;
padding: 10px 20px;
border-radius: 10px;
width: 18vw;
color: rgb(243, 238, 224);
margin-top: 30px;
cursor: pointer;

}
.first-section h1{
    text-align:start;
    color: rgb(44, 28, 17);

}
.cart-items{
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: column;
gap: 10px;
 overflow-y: scroll;
height: 70vh;


}
.first-section .cart-items .item-card{
    padding: 10px;
    background-color: rgba(99, 56, 31, 0.318);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    width: 50vw;
    align-items: center;
}
.DeleteItem{
    background-color: rgb(91, 74, 39);;
    border: none;
    color: rgb(243, 238, 224);
    padding: 5px 5px;
    width: 60px;
    border-radius: 4px;
    cursor: pointer;
}

.first-section .cart-items img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}


.total{
    padding-left:10px ;
}

.quantity-counter{
    display: flex;
    font-size: 20px;    
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    height: 20px;

}

.quantity-counter .minuse{
    background-color: rgb(44, 32, 32);
    color: white;
    padding: 5px;
    width: 10px;
    height: 15px;
    border-radius: 50px 0 0 50px ;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
   position: relative;
}
.quantity-counter span{
    border: 1px solid rgb(44, 32, 32);;
    width: 15px;
    height: 23px;    text-align: center;

    

}
.span-pluse{
    position: absolute;
    bottom: -15px;
    left: 4px;
    font-size: 15px;
    
}
.span-minuse{
     position: absolute;
    bottom: -22px;
    left: 9px;
    font-size: 20px;
}
.quantity-counter .pluse {
    height: 15px;
    position: relative;
    background-color: rgb(44, 32, 32);
    color: white;
    padding: 5px;
     width: 10px;
    border-radius: 0px 50px 50px 0px ;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}



.info{
display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr; 
  align-items: center; 
  padding: 10px 20px ;
}


/* حجم الشريط */
.cart-items::-webkit-scrollbar {
  width: 5px; /* العرض */
}

/* خلفية المسار */
.cart-items::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* مقبض السحب */
.cart-items::-webkit-scrollbar-thumb {
  background: #2c2020;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

/* عند المرور بالماوس */
.cart-items::-webkit-scrollbar-thumb:hover {
  background: #4a3a3a;
}
